.food {
	margin: 10px;
	display: block;
	width: 75%;
}
.card {
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 20px;
}
#head {
	background-color: grey;
	margin-bottom: 40px;
	padding: 20px;
}
.col-md-4 {
	align-items: center;
}
#second {
	display: none;
}
#third {
	display: none;
}
#goBack {
	margin: 10px;
	display: block;
	width: 75%;
	margin-top: 60px;
	background-color: red;
}

.idk {
	margin: 10px;
	display: block;
	width: 75%;
}

#goBack2 {
	margin: 10px;
	display: block;
	width: 75%;
	margin-top: 60px;
	background-color: red;
}