.food {
	margin: 10px;
	display: block;
	width: 75%;
}
.card {
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 20px;
	margin-top: 20px;
}
#head {
	background-color: grey;
	margin-bottom: 40px;
	padding: 20px;
}
.col-md-4 {
	align-items: center;
}
#second {
	display: none;
}
#third {
	display: none;
}
#fourth {
	display: none;
}
#goBack {
	margin: 10px;
	display: block;
	width: 75%;
	margin-top: 60px;
	background-color: red;
}

.idk {
	margin: 10px;
	display: block;
	width: 75%;
}

#goBack2 {
	margin: 10px;
	display: block;
	width: 75%;
	margin-top: 60px;
	background-color: red;
}
#goBack3 {
	margin: 10px;
	display: block;
	width: 75%;
	margin-top: 60px;
	background-color: red;
}
#Submit {
	margin: 10px;
	display: block;
	width: 75%;
	margin-top: 60px;
	background-color: green;
}
.q2 {
	margin: 10px;
	display: block;
	width: 75%;
}
.t2 {
	margin: 10px;
	display: block;
	width: 75%;
}
span {
	font-weight: bold;
	font-size: 20px;
}
#map {
	height: 500px;
}



@media screen and (max-width: 370px) {
	.food {
		margin: 30px;
	}
	.idk {
		margin: 30px;
	}
	#goBack {
		margin: 60px 30px 30px 30px;
	}
	#goBack2 {
		margin: 60px 30px 30px 30px;
	}
	#goBack3{
		margin: 60px 30px 30px 30px;
	}
	#Submit{
		margin: 60px 30px 30px 30px;
	}
	.q2 {
		margin: 30px;
	}
	.t2 {
		margin: 30px;
	}
}